@import url("./variables.css");

@import url("./utilities.css");

@import url("./range-slider.css");

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: var(--headerHeight);
  background-color: rgb(226 232 240);
}

.tool {
  border: 2px solid rgb(209 213 219);
  background-color: rgb(248 250 252);
  color: rgb(148 163 184);
}

.tool:hover {
  filter: brightness(90%);
}

.tool--active {
  border: 2px solid #000;
}

.canvas {
  cursor: crosshair;
}
